<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
</div>

<div class="row-fluid post-full">
  <div class="span12">
    <div class="date">
      <span>{{ page.date | date_to_long_string }}</span><br>
      <span>By: {% if page.author %} {{ page.author }} {% endif %}</span><br>
      <span>Category: {{ page.category }}, Tags: {% for t in page.tags %} <a href="tags.html#{{tag}}-ref"><i class="hash">#</i>{{tag}}</a> {% endfor %}</span>
    </div>
    <div class="content">
      {{ content }}
    </div>
  </div>
  
  {% include custom/post_meta %}
</div>